{
  "irods_authentication_file": "/auth/irodsA",
  "irods_client_server_negotiation": "request_server_negotiation",
  "irods_client_server_policy": "CS_NEG_REFUSE",
  "irods_cwd": "/iplant/home/__CLERVER_USER_NAME__",
  "irods_default_hash_scheme": "MD5",
  "irods_default_resource": "__DEFAULT_RESOURCE_NAME__",
  "irods_encryption_algorithm": "AES-256-CBC",
  "irods_encryption_key_size": 32,
  "irods_encryption_num_hash_rounds": 16,
  "irods_encryption_salt_size": 8,
  "irods_home": "/iplant/home/__CLERVER_USER_NAME__",
  "irods_host": "rs",
  "irods_match_hash_policy": "compatible",
  "irods_port": 1247,
  "irods_server_control_plane_encryption_algorithm": "AES-256-CBC",
  "irods_server_control_plane_encryption_num_hash_rounds": 16,
  "irods_server_control_plane_key": "_CONTROL_PLANE_KEY_",
  "irods_server_control_plane_port": 1248,
  "irods_user_name": "__CLERVER_USER_NAME__",
  "irods_zone_name": "iplant"
}
